<!-- <h1>Add a Concert</h1> -->
<!-- <div id="newConcert" *ngIf="selected">
    <form>
      <input
        type="text"
        name="artist"
        [(ngModel)]="newConcert.artist"
        placeholder="Artist"
      />
      <br />
      <input
        type="text"
        name="venue"
        [(ngModel)]="newConcert.venue"
        placeholder="Venue"
      />
      <br />
      <input
        type="text"
        name="city"
        [(ngModel)]="newConcert.city"
        placeholder="City"
      />
      <br />
      <input
        type="text"
        name="state"
        [(ngModel)]="newConcert.state"
        placeholder="State"
      />
      <br />
      <input
        type="text"
        name="genre"
        [(ngModel)]="newConcert.genre"
        placeholder="Genre"
      /><br />
      <input
        type="text"
        name="date"
        [(ngModel)]="newConcert.date"
        placeholder="Date"
      />
       <br>
    <div class="btn-group" role="group">
        <button class="btn btn-primary" (click)="displayTable()">Home</button>
        <!-- <button
        (click)="editConcert = selected"
        type="button"
          class="btn btn-success"
        >
          Edit
        </button>
        <button class="btn btn-warning" (click)="updateConcert(editConcert)">
            Update
        </button> -->
        <!-- <button
          class="btn btn-info" (click)="addNewConcert()">Add Concert
        </button>
        <button
          (click)="deleteConcert(selected.id)"
          type="button"
          class="btn btn-danger"
        >
          Delete
        </button>
      </div>
      </form>
</div>  -->
